body {
    padding: 0px 10px 0px 10px;
    font-family: 'europa', sans-serif;
    background-color: #FF7F32;
}

footer {
    font-family: 'europa', sans-serif;
    font-size: 0.85em;
    line-height: 1.5em;
    color: #FFC627;
    padding-top: 15px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 830px;
}

footer a:link {
    color: #FFC627;
}

footer a:visited {
    color: #FFC627;
}

header a:hover {
    background-color: transparent;
}

.page {
    margin-top: 20px;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1px;
    box-shadow: 10px 10px #FFC627;
}

button {
    background-color: #FF7F32;
    color: white;
    font-family: 'europa', sans-serif;
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em;
}

#start-button {
    font-size: 1.5em;
    margin-bottom: 1em;
}

h2,
h3,
h4,
h5,
h6 {
    color: #8C1D40;
}

hr {
    border: 0.5px solid #FF7F32;
}

header {
    position: sticky;
    text-align: center;
    font-weight: 200px;
    padding-top: 20px;
}

p {
    color: #5C6670;
}

h1 {
    font-family: "europa", sans-serif;
    text-align: center;
    color: #5C6670;
}

nav {
    text-align: center;
    font-weight: bold;
    background-color: #FFFFFF;
    margin: 0;
    padding: 10px;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

nav li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

ul {
    list-style-type: none;
    color: #5C6670;
}

a:link {
    color: #5C6670;
}

a:visited {
    color: #5C6670;
}

a:hover {
    color: #FFC627;
    background-color: #5C6670;
    text-decoration: none;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#weather a:hover {
    background-color: transparent;
}

.animation-bounceInDown-2s {
    -webkit-animation-duration: 5s;
}

@media only screen and (max-width: 37.5em) {
    nav li {
        display: block;
    }
}